
/* App.css */

/* Container สำหรับ App ให้จัดกลางหน้าจอ */
.underline-custom {
  text-decoration-color: #04001e; /* สีของ underline */
  text-decoration-thickness: 2px; /* ความหนาของ underline */
  text-underline-offset: 4px
}
